.login-page, .register-page{
    background-color:#17a2b8;
}

.note-image-input, .note-image-btn{
    padding-bottom: 30px !important;
}

.notblock {
    display: none !important;
}

.texcenter {
    text-align: center;
}

/* Carga de Fotos para Productos */
#containerImages{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

#containerImages > div{
    margin-right: 10px;
    margin-bottom: 8px;
}

.prevImage{
    border: 1px solid #CCC;
    width: 120px;
    height: 148px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prevImage img{
    width: 100%;
}

.inputUploadfile{
    display: none;
}

.btnUploadfile, .btnDeleteImage{
    border: 0;
    background-color: #009688;
    text-align: center;
    padding: 2px 3px;
    color: #FFF;
    font-size: 9pt;
    cursor: pointer;
    width: 100%;
}

.btnDeleteImage{
    background-color: #dc3545;
}

.prevImage .loading{
    width: 30px;
    height: 30px;
}

#celFotos img{
    width: 150px;
    margin: 10px;
}
